
<div class="container-fluid bg-white">
  <div class="row">
    <div class="col-sm-4">
        <img src="{{ url_for('static', filename='headshot12.jpg') }}" align="left" class="img-rounded person" alt="Nasrin" width="255">
    </div>

    <div class="col-sm-8">
        <p class="text-left"><strong>Nasrin Attaran</strong></p>
        <p class="text-left"><em>The Data Incubator Scholar - Fall 2020</em></p>

        <p class="text-left"><strong>Education: </strong> M.S. Computer Engineering, University of Maryland Baltimore, MD (May 2017)
                                        B.S. Computer Engineering, University of Tehran, Tehran, Iran
        </p>
                                        
        <p class="text-left"><strong>Background: </strong> Nasrin's background is primarily in computer engineering with doing several health monitoring projects based on machine learning models. Nasrin is prepared to
                                         become a creative, attentive, and results driven data scientist. </p>
        
        
    </div>
  </div>
</div>