<div class="row">
    <div class="col-sm-12">
        <p class="text-center"><font color = "#175584"><strong> OILD ِِِDataset </strong></font></p>
             <p class="text-left">The Offensive Language Identification Dataset (OLID) contains a collection of 14,200 annotated English tweets using an annotation model. 32.9% of tweets were labeled as offensive and the rest of them are labeled as non-offensive.
                 OLID was the official dataset used in the
                <a href="https://sites.google.com/site/offensevalsharedtask/offenseval2019">
                    OffensEval: Identifying and Categorizing Offensive Language in Social Media (SemEval 2019 - Task 6).
                </a>
                 The complete OLID v1.0 dataset (train, test, and gold labels) is available in
                     <a href="https://sites.google.com/site/offensevalsharedtask/olid">
                        "OLID dataset".
                     </a>
                  32.9%

             </p>
        </p>
      <!--  <figure>
            <img src="{{ url_for('static', filename='OLID_PieChart.png') }}" align="center" alt="four" width="100" height = "100" margin-bottom="50px">
            <figcaption> The distribuation of offensive and non-offensive tweets in OLID dataset</figcaption>
        </figure> -->
    </div>




    <div class="col-sm-12">
        <p class="text-center"><font color = "#175584"><strong>Hate Speech and Offensive Language Dataset </strong></font></p>
             <p class="text-left"> This dataset contains a collection of 25K tweets and had manually coded by CrowsFlower(CF) workers. Workers were asked to label each tweet as one of three categories:
                 hate speech (5.8% of the tweets), offensive but not hate speech (77.4% of the tweets), or neither offensive nor hate speech (16.8% of the tweets).
                 The complete information about this dataset can be find in
                    <a href="https://arxiv.org/pdf/1703.04009.pdf">
                     Automated Hate Speech Detection and the Problem of Offensive Language.
                    </a>
             The complete dataset is available in
                  <a href="https://github.com/t-davidson/hate-speech-and-offensive-language">
                     "hate speech and offensive language dataset".
                  </a>
             </p>
        </p>

    </div>

</div>






