<p><em>The importance of Detecting Hate Speech and Offensive Language on Twitter</em></p>
  
  <br>
  <div class="row">
    <div class="col-sm-4">
        <p class="text-center"><font color = "#175584"><strong>Social Media and Offensive Language</strong></font></p><br>
        <p>Social media usage has increased exponentially. More 45% of the word population are social media users. This means that offensive language is pervasive in social media. social media users can take advantage of
         anonymity or unreal identity to behave in the ways they would not do in their real life.</p>


     
    </div>
    <div class="col-sm-4">
        <p class="text-center"><font color = "#175584"><strong>Online Offensive Language in Twitter</strong></font></p><br>
      <p>Twitter is among the most popular social media platform. It has around 330M users with more that 500M tweets per day. in one side it is a professional hub for journalist, academics and
         politicians and the other side it is the biggest outlets for fake news propaganda and cyber abuse.</p>
    </div>
    <div class="col-sm-4">
        <p class="text-center"><font color = "#175584"><strong>Why is important to detect the offensive lanugage in twitter?</strong></font></p><br>
        <p>Based on a research which conducted in 2016, there is a relationship between the online hate speech on the twitter and the real-life racial violence. A 2018 report shows that
           women are abused on twitter every 30 seconds with racism and sexiam. </p>
    </div>
  </div>