<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visualizations and Word Clouds</title>
</head>
<body>
    <div class="container-fluid bg-white">
        <div class="row">
            <div class="col-sm-12">
                <p class="text-left">
                    A word cloud is created to get an idea of the most common words utilized in tweets. This is was done for both categories of offensive and non-offensive tweets.
                </p>
            <figure>
                <img src="{{ url_for('static', filename='offensive_words.png') }}" align="center" alt="four" width="500" height = "400" margin-bottom="50px">
                   <figcaption> Word cloud for offensive tweets in OLID dataset </figcaption>
             </figure>
             <p>

             </p>
             <p>

             </p>
             <p>

             </p>
             <p>

             </p>

             <figure>
                <img src="{{ url_for('static', filename='non_offensive_words.png') }}" align="center" alt="four" width="500" height = "400" margin-bottom="50px">
                    <figcaption> Word cloud for non-offensive tweets in OLID dataset </figcaption>
            </figure>

            </div>
        </div>
    </div>



</body>
</html>